<div class="mainpage">
    <div class="navoption_section">
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" href="#">About Us</a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link" href="#">Education</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Experience</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Skills</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact Us</a>
            </li>
        </ul>
    </div>

    <div class="name_section">
        <div class="name_content">
            <h3>HI I AM SUDAKAR</h3>
            <p> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;a passionate and skilled .NET Full Stack Developer who possesses a remarkable combination of talents.
                With a voracious appetite for learning, this remarkable professional has the remarkable ability to
                quickly grasp new concepts and technologies. </p>
            <!-- <p> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;I am proud to be a versatile professional who brings a sweet blend of technical excellence, leadership
                skills, and a radiant personality to every endeavor. Join me on this journey as we create remarkable
                solutions together.</p> -->
        </div>
        <div class="image_content">
            <img src="assets/Image/removebg.png">
        </div>
    </div>

    <div class="contentpage">
        <div class="edu">
            <app-education></app-education>
        </div>
    </div>
</div>