span{
    font-weight: bold;
}

.educontent{
    display: flex;
    padding: 1%;
    width: 100%;
}

.highs{
    width: 30%;
    margin: 1%;
    border-radius: 10px;
    padding: 2%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.highersec,.college{
    width: 35%;
    border-radius: 10px;
    margin: 1%;
    padding: 2%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}