<div class="edupage">
    <!-- <div class="picsection">
        <img src="" alt="logo">
    </div> -->
    <div class="educontent">
        <div class="highs">
            <p><span>Government High School</span></p>
            <p>During my high school years, I actively engaged in a diverse range of academic and extracurricular activities. I maintained a strong focus on my studies, resulting in an impressive cumulative Percentage of 84.8%. </p>
        </div>
        <div class="highersec">
            <p><span>Bharathi Government Higher Secondary School</span></p>
            <p>During my higher secondary education, I continued to pursue academic excellence while expanding my knowledge and skills in various subjects.</p>
            <p>I focused on subjects such as mathematics, physics, chemistry, and computer science, which sparked my interest in the sciences and technology.</p>
            <p> I achieved results in my coursework, earning a 62.1% overall.</p>
        </div>
        <div class="college">
            <p><span>Shri Krishnaa College of Engineering and Technology</span></p>
            <p>Throughout my college years, I immersed myself in a rich and rewarding educational journey. I pursued a degree in Computer Science and Engineering engaged in a multitude of academic and co-curricular activities.</p>
        </div>
    </div>
</div>
